@keyframes ldio-fk74g0zhkj5-o {
  0% {
    opacity: 1;
    transform: translate(0 0);
  }
  49.99% {
    opacity: 1;
    transform: translate(80px, 0);
  }
  50% {
    opacity: 0;
    transform: translate(80px, 0);
  }
  100% {
    opacity: 0;
    transform: translate(0, 0);
  }
}
@keyframes ldio-fk74g0zhkj5 {
  0% {
    transform: translate(0, 0);
  }
  50% {
    transform: translate(80px, 0);
  }
  100% {
    transform: translate(0, 0);
  }
}
.ldio-fk74g0zhkj5 div {
  position: absolute;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  top: 60px;
  left: 20px;
}
.ldio-fk74g0zhkj5 div:nth-child(1) {
  background: #849AF8;
  animation: ldio-fk74g0zhkj5 1s linear infinite;
  animation-delay: -0.5s;
}
.ldio-fk74g0zhkj5 div:nth-child(2) {
  background: #BDCBFB;
  animation: ldio-fk74g0zhkj5 1s linear infinite;
  animation-delay: 0s;
}
.ldio-fk74g0zhkj5 div:nth-child(3) {
  background: #849AF8;
  animation: ldio-fk74g0zhkj5-o 1s linear infinite;
  animation-delay: -0.5s;
}
.loadingio-spinner-dual-ball-pnsdq4gah3r {
  position: absolute;
  transform: translate(100%, 100%);
  width: 200px;
  height: 200px;
  display: inline-block;
  overflow: hidden;
  background: #ffffff;
}
.ldio-fk74g0zhkj5 {
  width: 100%;
  height: 100%;
  position: relative;
  transform: translateZ(0) scale(1);
  backface-visibility: hidden;
  transform-origin: 0 0;
}
.ldio-fk74g0zhkj5 div {
  box-sizing: content-box;
}
