.search {
  position: relative;
  width: 100%;
  background: var(--accent-primary);
  border-radius: 10px;
  margin-top: 30px;
  transition: background-color 0.3s ease;
  input[type="search"] {
    height: 40px;
    border: 1px solid var(--accent-primary);
    color: var(--text-primary);
    font-size: 1.2rem;
    width: 100%;
    background: var(--surface);
    padding: 0 1rem;
    border-radius: 10px;
    transition: 0.3s;
    z-index: 1;
    position: relative;
    &:focus {
      outline: 0;
    }
  }
  label {
    position: absolute;
    padding: 0;
    border: 0;
    top: -30px;
    overflow: hidden;
  }
}
