.launches {
  display: flex;
  align-items: flex-start;
  justify-content: stretch;
  padding: 36px;
  &::after {
    position: absolute;
    z-index: -2;
    top: 10%;
    left: 0;
    width: 200%;
    height: 200%;
    content: "";
    background-color: #BDCBFB;
    transform: rotate(-20deg);
  }
  &::before {
    content: "";
    position: absolute;
    width: 200%;
    height: 200%;
    top: 70%;
    left: -50%;
    z-index: -1;
    background-color: #849AF8;
    transform: rotate(5deg);
  }
  aside {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    width: 300px;
    min-height: 100px;
    padding: 16px;
    margin-left: 16px;
    margin-bottom: 16px;
    background-color: white;
    border-radius: 10px;
    box-sizing: border-box;
    box-shadow: 0 0px 40px 0px rgba(0, 0, 0, 0.15);
  }
}