.launches {
  display: flex;
  align-items: flex-start;
  justify-content: stretch;
  padding: 36px;
  .launch-results {
    min-width: 600px;
    flex-grow: 1;
  }
  &::after {
    position: absolute;
    z-index: -2;
    top: 10%;
    left: 0;
    width: 200%;
    height: 200%;
    content: "";
    background-color: var(--accent-secondary);
    transform: rotate(-20deg);
    transition: background-color 0.3s ease;
  }
  &::before {
    content: "";
    position: absolute;
    width: 200%;
    height: 200%;
    top: 70%;
    left: -50%;
    z-index: -1;
    background-color: var(--accent-primary);
    transform: rotate(5deg);
    transition: background-color 0.3s ease;
  }
  aside {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    min-width: 210px;
    min-height: 100px;
    padding: 16px;
    margin-left: 16px;
    margin-bottom: 16px;
    background-color: var(--surface);
    border-radius: 10px;
    box-sizing: border-box;
    box-shadow: 0 0px 40px 0px var(--shadow-color);
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
  }
  @media screen and (max-width: 650px) {
    flex-direction: column-reverse;
    .launch-results {
      width: 100%;
    }
    .boxes {
      display: flex;
      flex-direction: row;
    }
  }
}
